<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITC Events</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main0">
        <div class="navbar0">
            <div class="icon0">
                <h2 class="logo0">NITC EVENTS ADMIN</h2>
            </div>

            <div class="menu0">
                <ul>
                    <li><a href="aevents">HOME</a></li>
                    <li><a href="addevent">CREATE EVENT</a></li>
                    <li><a href="admin/logout">LOG OUT</a></li>
                </ul>
            </div>

        </div>
        <div class="content0">
            <form class="form0 formevent" method="POST">
                <h2>Event Details</h2>
                <input type="text" name="title" placeholder="Enter Event Title">
                <input type="text" name="description" placeholder="Event Description">
                <input type="datetime" name="date" placeholder="Event Date">
                <input type="text" name="time" placeholder="Event Time">
                <input type="text" name="url" placeholder="Image Url">
                <input type="text" name="venue" placeholder="Event Venue">
                <input type="text" name="host" placeholder="Event Host">
                <button class="btnn0 btnn1">Submit</button>
            </form>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>