<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITC Events</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main0">
        <div class="navbar0">
            <div class="icon0">
                <h2 class="logo0">NITC EVENTS ADMIN</h2>
            </div>

            <div class="menu0">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">CREATE EVENT</a></li>
                    <li><a href="#">LOG OUT</a></li>
                </ul>
            </div>

        </div>
        <div class="content0">
            <form class="form0 formevent">
                <h2>Event Details</h2>
                <input type="text" name="title" placeholder="Enter Event Title">
                <input type="text" name="" placeholder="Event Description">
                <input type="datetime" name="" placeholder="Event Date">
                <input type="text" name="" placeholder="Event Time">
                <input type="text" name="" placeholder="Image Url">
                <input type="text" name="" placeholder="Event Venue">
                <input type="text" name="" placeholder="Event Host">
                <button class="btnn0 btnn1"><a href="#">Submit</a></button>
            </form>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>