<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITC Events</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main0">
        <div class="navbar0">
            <div class="icon0">
                <h2 class="logo0">NITC EVENTS ADMIN</h2>
            </div>

            <div class="menu0">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

        </div>
        <div class="content0">
            <form class="form0 formevent" method="POST">
                <h2>Admin Login</h2>
                <input type="text" name="email" placeholder="Enter Email">
                <input type="password" name="password" placeholder="Enter Password">
                <button class="btnn0 btnn1" type="submit">Submit</button>
            </form>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>