<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITC Events</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main0">
        <div class="navbar0">
            <div class="icon0">
                <h2 class="logo0">NITC EVENTS</h2>
            </div>

            <div class="menu0">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">CREATE EVENT</a></li>
                    <li><a href="#">LOG OUT</a></li>
                </ul>
            </div>

        </div>
        <div class="content0">
            <form class="form0 formevent">
                <h2>Event Details</h2>
                <input type="text" name="title" placeholder="SAC Onam">
                <input type="text" name="" placeholder="Onam Description">
                <input type="datetime" name="" placeholder="28th September 2022">
                <input type="text" name="" placeholder="10 : 00 AM">
                <input type="text" name="" placeholder="https://google.com/onam.png">
                <input type="text" name="" placeholder="A Hostel NITC">
                <input type="text" name="" placeholder="SAC">
                <button class="btnn0 btnn1"><a href="#">Save Details</a></button>
            </form>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>