<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITC Events</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="events.css">

</head>

<body>

    <div class="main0">
        <div class="navbar0">
            <div class="icon0">
                <h2 class="logo0">NITC EVENTS</h2>
            </div>

            <div class="menu0">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">LOG OUT</a></li>
                </ul>
            </div>

        </div>

        <div class="content">
            <div class="container">

                <div class="card-media">
                    <!-- media container -->
                    <div class="card-media-object-container">
                        <div class="card-media-object" style="background-image: url(https://s9.postimg.cc/y0sfm95gv/prince_f.jpg);"></div>
                    </div>
                    <!-- body container -->
                    <div class="card-media-body">
                        <div class="card-media-body-top">
                            <span class="subtle">Mon, APR 09, 7:00 PM</span>
                        </div>
                        <H2>SAC ONAM</H2>
                        <div> Host - SAC</div>
                        <span class="card-media-body-heading">This Thing Called Life: A Celebration of Prince and His Legacy at MEZZANINE SF</span>
                        
                        <div class="card-media-body-supporting-bottom">
                            <span class="card-media-body-supporting-bottom-text subtle">Venue - Auditorium NITC</span>
                            <a href="#/" class="card-media-body-supporting-bottom-text subtle u-float-right card-media-link">Register</a>
                        </div>
                        <!-- display venue and host -->
                        
                        <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                            <span class="card-media-body-supporting-bottom-text subtle">#Music #Party</span>
                            <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Register</a>
                        </div>
                    </div>
                </div>

                <div class="card-media">
                    <!-- media container -->
                    <div class="card-media-object-container">
                        <div class="card-media-object" style="background-image: url(https://s9.postimg.cc/y0sfm95gv/prince_f.jpg);"></div>
                    </div>
                    <!-- body container -->
                    <div class="card-media-body">
                        <div class="card-media-body-top">
                            <span class="subtle">Mon, APR 09, 7:00 PM</span>
                        </div>
                        <H2>ICPC Coding Competition</H2>
                        <div> Host - CP HUB</div>
                        <span class="card-media-body-heading">This Thing Called Life: A Celebration of Prince and His Legacy at MEZZANINE SF</span>
                        <div class="card-media-body-supporting-bottom">
                            <span class="card-media-body-supporting-bottom-text subtle">Venue - Online Event </span>
                            <a href="#/" class="card-media-body-supporting-bottom-text subtle u-float-right card-media-link">Register</a>
                        </div>
                        <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                            <span class="card-media-body-supporting-bottom-text subtle">#Music #Party</span>
                            <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Register</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>