<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITC Events</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main0">
        <div class="navbar0">
            <div class="icon0">
                <h2 class="logo0">NITC EVENTS</h2>
            </div>

            <div class="menu0">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

        </div>
        <div class="content0">
            <h1>We bring you all information related to <br><span>NITC Events</span> <br></h1>
            <p class="par0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
                <br> a quae totam ipsa illum minus laudantium?</p>

            <div class="form0">
                <button class="btnn0"><a href="/auth/google">LOGIN AS USER</a></button>
                <button class="btnn0"><a href="adminlogin">LOGIN AS ADMIN</a></button>

            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>